<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.goodluck.module_mine">

    <application>
        <activity android:name="com.goodluck.module_mine.activity.PreviewCardActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.SelectModeActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.MyBookActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.PublishCardActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.UserFollowersActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.UserWritersActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.UserCommentsActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.UserHomeActivity">
        </activity>
        <activity android:name="com.goodluck.module_mine.activity.BookListActivity">
        </activity>
    </application>

</manifest>