<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.goodluck.module_home">

    <application>
        <activity android:name="com.goodluck.module_home.view.activity.CommentActivity">
        </activity>
        <activity android:name="com.goodluck.module_home.view.activity.TopicMainActivity">
        </activity>
        <activity android:name="com.goodluck.module_home.view.activity.TextCardDetailActivity">
        </activity>
    </application>

</manifest>